.tableStyle {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  min-width: 600px;
}

.thTdStyle {
  border-bottom: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
  font-size: 20px;
}

.thStyle {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f2f2f2;
  color: black;
  font-size: 24px;
  background-color: #2b821aab;
}
/* Estilo para filas impares */

.divtable {
  padding: 20px;
  background-color: #8fcdbe5b;
  border-radius: 20px;
}
td .detailComponent {
  background-color: #dddddd;
}
.dropdown-content {
  display: none; /* Oculto por defecto */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  margin-top: 5px; /* Para que se vea que sale del botón */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Efecto hover para las opciones */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Mostrar el desplegable cuando se haga clic */
.show {
  display: block;
}
.bgimg {
  background-image: url("../../img/defaultevent.jpeg");
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover;
  

}
.bgimgW {
  background-image: url("../../img/winter2.jpg");
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover;
  color: #e9e8eb;

}
.maquillaje {
  background-image: url("../../img/maquillaje.jpg");
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover;
  color: #e9e8eb;


}
.maquillaje:before ,.bgimgW:before ,.bgimg:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://via.placeholder.com/600x400'); /* Reemplaza con la URL de tu imagen */
  background-size: cover;
  background-position: center;
  opacity: 0.1; /* Controla la opacidad aquí */
  z-index: -1; /* Asegúrate de que la imagen esté detrás del contenido */
}
.w-98{
  width: 93%!important
}
section #lista{
  overflow-y: auto;

}