.FormInsc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputFormIns {
  text-align: center;
}
.inputFormIns::placeholder {
  text-align: center;
}
.hidden-checkbox {
  display: none;
}

/* Style the label, making it the clickable area */
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 24px; /* Adjust the icon size */
  color: rgb(27, 26, 26); /* Default color */
  transition: color 0.2s;
}

/* Change the icon color when the checkbox is checked */
.custom-checkbox.checked {
  color: rgb(51, 255, 0); /* Change to your preferred color */
}

/* Optional: Add some hover effect */
.custom-checkbox:hover {
  color: rgb(167, 34, 172); /* Hover color */
}
.custom-checkbox.selected {
  color: rgb(255, 0, 234); /* Change to your preferred color */
}
#formaddTraje{
background-color: rgba(241, 241, 227, 0.884);
}

