.Nav {
  display: flex;
  flex-wrap: wrap;
  /*  min-width: 375px; */
  min-height: 55px;
  flex-direction: row;
   gap: 16px; 
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-right: 10%;
}
.itemnav {
  min-width: 60px;
  min-height: 60px;
  background-color: #c553c8;
  display: flex;
  border: solid black 1px;
  border-radius: 20%;
  align-items: center;
  justify-content: center;
}
a > img {
  max-width: 50px;
  max-height: 50px;
  padding: 4px;
}
