.Nav {
  display: flex;
  width: 375px;
  height: 102px;
  flex-direction: row;
  /* gap: 16px; */
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.itemnav {
  width: 87px;
  height: 81px;
  background-color: #c553c8;
  display: flex;
  border: solid black 1px;
  border-radius: 20%;
}
.itemnav> img {
  width: 50px;
  height: 50px;
}