.Nav {
  display: flex;
  min-width: 375px;
  min-height: 102px;
  flex-direction: row;
  /* gap: 16px; */
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 4px;
}
.itemnav {
  min-width: 87px;
  min-height: 81px;
  background-color: #c553c8;
  display: flex;
  border: solid black 1px;
  border-radius: 20%;
  align-items: center;
  justify-content: center;
}
a > img {
  max-width: 50px;
  max-height: 50px;
  padding: 4px;
}
