@font-face {
  font-family: "JejuHallasan";
  src: url("/src/font/JejuHallasan.ttf.woff") format("woff"),
    url("/src/font/JejuHallasan.ttf.svg#JejuHallasan") format("svg"),
    url("/src/font/JejuHallasan.ttf.eot"),
    url("/src/font/JejuHallasan.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "JejuHallasan";
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;

}
body {
  background-image: url("../src/img/fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
  height: 100vh;
}
